*{
    padding: 0;
    margin: 0;
}

/* ===== Variables Globales root =====  */
:root{
    --color-primario: #a3d4e0;
    --color-secundario: #b2ceffc9;
    --color-terciario: #618ea4a1;
    --color-blanco: #ffff;
    --color-azul: #002c79;
    --color-Negro:#000000;
    --color-gris:#64748b64;
    --color-exito:#33d66fa8;
    --color-pendiente:#f59f0b9c;

    --fuente-principal: Arial, sans-serif;

    --espaciado-sm:10px; /* Espacio Pequeño*/
    --espaciado-md:20px; /* Espacio Mediano*/
    --espaciado-lg:40px; /* Espacio Grande*/

    --radio:8px;
}

body{
    font-family: var(--fuente-principal);
    background: var(--color-gris);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;
}

/* ==== Formulario color,text,etc ====*/

.secti-form {
  text-align: center;
}

.h2{
    margin-top: 0px;
    margin-bottom: 10px;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: var(--espaciado-md);
    border-radius: var(--radio);
    background: var(--color-secundario);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.formulario h2{
    text-align: center;
    margin-bottom: var(--espaciado-sm);
}

.formulario input{
    margin: 8px 0;
    padding: var(--espaciado-sm);
    border: var(--radio 4px #002c79);
    border-radius: px;
}

.formulario button{
    margin-top: var(--espaciado-sm);
    padding: var(--espaciado-sm);
    border: none;
    background: var(--color-azul);
    color: var(--color-blanco);
    border-radius: 3px;
    cursor: pointer;
}

.formulario button:hover{
    background: var(--color-terciario);
}

.formulario:active {
    transform: scale(2.0);
}

.registro{
    padding: var(--espaciado-sm);
}

.logo{
    width: 200px;   /* tamaño pequeño */
    padding: 0;
    margin-bottom: 5px;
}